<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncSystemColors.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SyncSystemColors.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true"/>
  </appSettings>
    <userSettings>
        <SyncSystemColors.My.MySettings>
            <setting name="ActiveCaption_Sync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveCaption_SetBrit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveCaption_UsrBrit" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="ActiveCaptionGradient_Sync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ActiveCaptionGradient_SetBrit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveCaptionGradient_UsrBrit" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="Hilight_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Hilight_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hilight_UsrBrit" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MenuHilight_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MenuHilight_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MenuHilight_UsrBrit" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="HotTracking_Sync" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotTracking_SetBrit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotTracking_UsrBrit" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="General_AdvancedModeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="General_AccentSource" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="General_SaveSettingsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
        </SyncSystemColors.My.MySettings>
    </userSettings>
    <applicationSettings>
        <SyncSystemColors.My.MySettings>
            <setting name="UI_ContextMenuStyle" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExternalResources_ProjectURL" serializeAs="String">
                <value>http://stackoverflow.com/questions/4580263/how-to-open-in-default-browser-in-c-sharp</value>
            </setting>
        </SyncSystemColors.My.MySettings>
    </applicationSettings>
</configuration>
